.savings-card {
    display: flex;
    flex-direction: column;
}

.savings-card .progress {
    margin-bottom: 1rem;
}

.savings-card > button {
    margin-bottom: 1rem;
}


.savings-card .progress {
    height: 1.4rem;
}
.savings-card .progress-bar {
    background-color: #37373d;;
    height: 1.4rem;
}

.savings-card_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.savings-card_wrap button:not(:last-child) {
    margin-right: 1rem;
}