
.mainContent-wrap {
    justify-content: space-between;
}

.mainContent-wrap > div {
    margin: 10px 0;
    border: 1px solid white;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.col > div {
    margin-bottom: 1rem;
}