.modal-form {
    padding: 15px;
}

.modal-form label {
    color:#2A2A35;
}

.modal-title {
    color: #2A2A35;
}

.modal-form input::placeholder {
    opacity: .3;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}